<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Notification</title>

</head>
<body>
<div class="container-fluid p-0 d-flex flex-column min-vh-100">
    <header th:insert="blocks/header :: header"></header>
    <div class="container flex-grow-1">
        <h3 class="text-success" th:text="${message}"></h3>
        <p>Произойдет автоматический переход на страницу статистики через <span id="countdown">1</span> сек...</p>
    </div>
    <div class="mt-2 bg-light">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>

<script>
    var seconds = 1;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById('countdown').innerText = seconds;
        if (seconds <= 0) {
            clearInterval(countdown);
            window.location.href = '/items/find';
        }
    }, 1000);
</script>

</body>
</html>