<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Accidents</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-2">
        <h5>Описание проекта</h5>
        <p>Проект выполнен в учебных целях для освоения возможностей Spring.</br>
            Проект является сервисом, позволяющим контролировать дополнительное время, отработанное сотрудниками.
            В системе имеются две роли пользователей: сотрудники и работодатели.
        </p>
        <h6>Сотрудник добавляет временной интервал. При добавлении указываются следующие параметры:</br></h6>
        <ul>
            <li>Время начала работы;</li>
            <li>Время окончания работы;</li>
            <li>Был ли обеденный перерыв;</li>
            <li>Учитывать ли в расчете основное рабочее время.</li>
        </ul>
        <p>После добавления дополнительных трудодней сотрудник может сформировать отчет за выбранный период времени.</p>
        <h6>У работодателя есть возможность: </br></h6>
        <ul>
            <li>Просмотра дополнительно отработанного времени любого из сотрудников;</li>
            <li>Простановки флага "не согласовано" для произвольного временного интервала;</li>
            <li>Провести расчет заработанной платы за дополнительно отработанное время.</li>
        </ul>
        <h6>Стек технологий:</br></h6>
        <ul>
            <li>Java 21</li>
            <li>PostgreSQL 14</li>
            <li>Maven 3.8.5</li>
            <li>Spring boot 2.7.6</li>
            <li>Liquibase 4.15.0</li>
            <li>Hibernate</li>
            <li>Bootstrap 5.2.3</li>
        </ul>
        <h6>Требования к окружению:</br></h6>
        <ul>
            <li>Java 21</li>
            <li>PostgreSQL 14</li>
            <li>Maven 3.9.9</li>
        </ul>
    </div>
    <div class="bg-light sticky-bottom">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
</body>
</html>