<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Регистрация</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="mt-3" th:action="@{/reg}" method="post">
                    <div class="mb-3" th:if="${errorMessage}">
                        <h5 class="text-danger" th:text="${errorMessage}"></h5>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label"><b>Логин</b></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><b>Пароль</b></label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Адрес электронной почты" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label"><b>Пароль</b></label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="row">
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/}">Отмена</a></div>
                        <div class="col-6"><button class="btn btn-success w-100" type="submit">Зарегистрироваться</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-bottom bg-light">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
</body>
</html>