<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Регистрация</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="mt-3" th:action="@{/reset-password}" method="post" th:object="${userDto}" >
                    <div class="mb-3" th:if="${errorMessage}">
                        <h5 class="text-danger" th:text="${errorMessage}"></h5>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{username}">
                    <input type="hidden" th:field="*{email}">
                    <input type="hidden" th:field="*{employer}">
                    <input type="hidden" name="token" th:value="${token}">
                    <div class="mb-3">
                        <label for="password" class="form-label"><b>Введите новый пароль</b></label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirmation" class="form-label"><b>Подтвердите пароль</b></label>
                        <input type="password" class="form-control" id="passwordConfirmation" name="password" th:field="*{passwordConfirmation}" required>
                        <div class="text-danger" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></div>
                    </div>
                    <div class="d-flex flex-wrap gap-2 justify-content-left mt-3">
                        <a class="btn btn-secondary flex-grow-1 flex-shrink-0" th:href="@{/}">Отмена</a>
                        <button class="btn btn-primary flex-grow-1 flex-shrink-0" type="submit">Изменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-bottom bg-light">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
</body>
</html>