<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Accidents</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row pt-3">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Редактирование временного интервала
                </div>
                <div class="card-body">
                    <form class="mt-2" th:action="@{/items/update?(id=*{id})}" th:object="${item}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-9">
                                <div class="mb-3">
                                    <label for="date" class="form-label"><b>Дата</b></label>
                                    <input type="date" class="form-control" id="date" name="date" th:field="*{date}">
                                </div>
                                <div class="mb-3">
                                    <label for="startTime" class="form-label"><b>Время прихода</b></label>
                                    <input type="time" class="form-control" id="startTime" name="startTime" th:field="*{startTime}">
                                </div>
                                <div class="mb-3">
                                    <label for="endTime" class="form-label"><b>Время ухода</b></label>
                                    <input type="time" class="form-control" id="endTime" name="endTime" th:field="*{endTime}">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3 text-center">
                                    <label class="form-label" for="lunchBreak"><b>Обеденный перерыв</b></label>
                                    <div class="mt-1 form-switch d-flex align-items-center justify-content-center ">
                                        <input type="checkbox" name="lunchBreak" class="form-check-input" id="lunchBreak" th:field="*{lunchBreak}">
                                    </div>
                                </div>
                                <div class="mb-3 text-center">
                                    <label class="form-label" for="extraHoursOnly"><b>Не учитывать основное время</b></label>
                                    <div class="mt-1 form-switch d-flex align-items-center justify-content-center ">
                                        <input type="checkbox" name="extraHoursOnly" class="form-check-input" id="extraHoursOnly" th:field="*{extraHoursOnly}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="remark" class="form-label"><b>Примечание</b></label>
                                <textarea class="form-control" id="remark" name="remark" rows="3" th:field="*{remark}"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/items/remove?(id=*{id})}">Удалить</a></div>
                                    <div class="col-6"><button class="btn btn-primary w-100" type="submit">Сохранить</button></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light sticky-bottom">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
</body>
</html>