<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>HoursMeter</title>
    <style>
        .table-hover tbody tr:hover {
            background-color: #e0ecff;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">

        <div class="row mx-0">
            <form th:action="@{/items/find}" method="GET" enctype="multipart/form-data">
                <div class="mb-3" th:if="${session.user.authority.authority == 'ROLE_EMPLOYER'}">
                    <label for="employees"><b>Сотрудники</b></label>
                    <select class="form-control" id="employees" name="employeesId" required>
                        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.surname}" th:selected="${employee.id==employeesId}"></option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="startDate"><b>Начало периода</b></label>
                    <input type="date" class="form-control" name="startDate" id="startDate" th:value="${currentStartDate}">
                </div>
                <div class="mb-2">
                    <label for="endDate"><b>Конец периода</b></label>
                    <input type="date" class="form-control" name="endDate" id="endDate" th:value="${currentEndDate}">
                </div>
                <button type="submit" class="btn btn-primary mt-1 col-12">
                    Найти&nbsp;&nbsp;
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary w-100" onclick="generateReport()">
                        Сохранить отчёт &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время прихода</th>
                    <th scope="col">Время ухода</th>
                    <th scope="col">Обед</th>
                    <th scope="col">Без учета основного времени</th>
                    <th scope="col">Отработанное время, ч.</th>
                    <th scope="col">Примечание</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="entry: ${itemsDtoMap.entrySet()}">
                    <tr th:each="item: ${entry.value}" th:href="@{/items/update?id={id}(id=${item.id})}" style="cursor: pointer;">
                        <td th:text="${item.seqNum}"></td>
                        <td th:text="${#temporals.format(item.date, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#temporals.format(item.startTime, 'HH:mm')}"></td>
                        <td th:text="${#temporals.format(item.endTime, 'HH:mm')}"></td>
                        <td style="text-align: center;">
                        <span th:if="${item.lunchBreak}">
                            <i class="bi bi-check-square"></i>
                        </span>
                            <span th:if="${!item.lunchBreak}">
                            <i class="bi bi-square"></i>
                        </span>
                        </td>
                        <td style="text-align: center;">
                        <span th:if="${!item.extraHoursOnly}">
                            <i class="bi bi-square"></i>
                        </span>
                            <span th:if="${item.extraHoursOnly}">
                            <i class="bi bi-check-square"></i>
                        </span>
                        </td>
                        <td th:text="${item.minutes/60}"></td>
                        <td th:if="${#strings.length(item.remark) &gt;= 20}" th:text="${#strings.substring(item.remark, 0, 20) + '...'}"></td>
                        <td th:if="${#strings.length(item.remark) &lt; 20}" th:text="${item.remark}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
            <div class="container"  style="background-color: var(--bs-gray-200);">
                <div class="row" style="background-color: var(--bs-gray-500);">
                    <div class="col-8">
                        <h6 style="text-align: left;" th:text="'ИТОГО '"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="'- в минутах'"></h6>
                    </div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="${sumOfTimeInMinutes}"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="'- в часах'"></h6>
                    </div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="${sumOfTimeInHours}"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="'- в днях'"></h6>
                    </div>
                    <div class="col-3">
                        <h6 style="text-align: left;" th:text="${sumOfTimeInDays}"></h6>
                    </div>
                </div>
            </div>
            <div class="container" th:if="${session.user.authority.authority != 'ROLE_EMPLOYER'}">
                <div class="row">
                    <a class="btn btn-primary w-100" th:href="@{/items/add}">
                        Добавить часы &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light sticky-bottom">
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</div>
<script>
    function generateReport() {
        // Получаем значения дат
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        // Проверяем, что даты выбраны
        if (!startDate || !endDate) {
            alert('Пожалуйста, выберите обе даты.');
            return;
        }

        // Формируем URL для скачивания отчета
        const url = `/items/generate-report?startDate=${startDate}&endDate=${endDate}`;

        // Перенаправляем пользователя на URL
        window.location.href = url;
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rows = document.querySelectorAll("tbody tr");
        rows.forEach(function(row) {
            row.addEventListener("click", function() {
                var href = row.getAttribute("href");
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>
</body>
</html>